<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" charset="utf-8" />
    <title>Trollgg</title>
    <link rel="stylesheet" href="summoner.css" />
    <script type="module" src="./summoner.js"></script>
  </head>
  <body>
    <div>
      <h1 id="title" onclick="location.href='../index.html'">TROLLGG</h1>
      <form class="requestSummoner">
        <input id="inputSummoner" type="text" placeholder="소환사명" />
      </form>
      <div class="summoner"></div>
    </div>
    <div class="content">
      <div class="left_side">
        <img class="league_profile" style="width: 100px; height: 100px" />
        <div class="info">
          <div class="league">
            <div class="league_head"></div>
            <div class="league_tierRank"></div>
            <div class="league_info"></div>
            <div class="league_winRate"></div>
          </div>
        </div>
      </div>
      <div class="table"></div>
    </div>
  </body>
</html>
